body {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial", serif;
    font-size: 1.3em;
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 25px 10px 10px; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.animalBio {
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.animalPic {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fishName {
    font-size: 35px;  
    text-align: left;
}

p { 
    overflow: hidden;
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
}

p.interestingFact {
    font-style: italic;
}

ul {
    font-style: italic;
}

span {
    font-weight: bold;
    font-style: normal;
}

